.App {
  width: 400px;
  margin: 20px auto;
}
.App .TodoList {
  text-align: left;
  margin-top: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  padding: 10px 0;
  border-bottom: 1px dotted black;
}
.TodoList button {
  margin-left: 20px;
}
input, li {
  text-transform: capitalize;
}